:root,
:host {
  --spacing-none: 0;
  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;

  --border-radius-xs: 8px;
  --border-radius-s: 12px;
  --border-radius-m: 16px;
  --border-radius-pill: 999px;
  --border-radius-circle: 50%;

  --color-background: rgb(250, 251, 251);
  --color-surface: rgb(255, 255, 255);
  --color-raised: rgb(250, 251, 251);
  --color-lowered: rgb(230, 232, 235);

  --background-color-success: rgb(217, 247, 229);
  --background-color-danger: rgb(255, 198, 197);
  --background-color-info: rgb(217, 237, 247);
  --background-color-warning: rgb(255, 244, 229);
  --background-color-interactive: rgb(254, 238, 253);

  --border-color-success: rgb(0, 128, 0);
  --border-color-danger: rgb(255, 0, 0);
  --border-color-info: rgb(0, 128, 255);
  --border-color-warning: rgb(255, 128, 0);
  --border-color-default: rgb(216, 222, 228);
  --border-color-subtle: rgb(230, 232, 235);
  --border-color-interactive: rgb(219, 90, 254);

  --border-width: 1px;
  --border-success: var(--border-width) solid var(--border-color-success);
  --border-danger: var(--border-width) solid var(--border-color-danger);
  --border-info: var(--border-width) solid var(--border-color-info);
  --border-warning: var(--border-width) solid var(--border-color-warning);
  --border-subtle: var(--border-width) solid var(--border-color-subtle);
  --border-default: var(--border-width) solid var(--border-color-default);

  --background-disabled: rgb(230, 232, 235);
  --background-subtle: rgb(250, 251, 251);

  --shadow-2xl: 0 25px 50px -12px #00000040;
  --shadow-xl: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
  --shadow-l: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
  --shadow-m: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
  --shadow-s: 0 1px 2px 0 #0000000d;
}
html {
  font-family: system-ui;
  font-size: 1.2rem;
}
a {
  display: block;
  color: black;
  outline-color: purple;
  outline-width: 2px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  margin: 0;
}

label {
  font-size: 0.8rem;
}
input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 200px;
  font: inherit;
}
button {
  font: inherit;
}

dialog {
  max-inline-size: min(90vw, var(--size-content-3, 400px));
  max-block-size: min(80vh, 100%);
  max-block-size: min(80dvb, 100%);
  overflow: hidden;
}

dialog > form {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  max-block-size: 80vh;
  max-block-size: 80dvb;
}

:where(button){
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: none;
  transform: translateZ(0);
  overflow: clip;
}

.button{
  overflow: clip;
  display: inline-flex;

  border-radius: 6px;
  color: white;
  background: black;
  font-weight: 500;
  padding: 0 0.8em;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  transition-property: border-color, background, color, transform, box-shadow;
  transition-duration: .15s;
  transition-timing-function: ease;
  font-size: 0.8rem;
  line-height: 1;
  height: 2rem;
  max-height: 2rem;
}